.coverage
.DS_Store
.env
.vscode
.mypy_cache
.pytest_cache
.python-version
build/
*/tests/outputs/*
**/__pycache__
dist
**/*.egg-info
.idea
.venv
venv
.devcontainer
.ruff_cache
.tmp
example/users.binpb
site/
.benchmarks/
packages/protobuf-py-ext/target
*.so
*.dSYM
